<h1> YO </h1>
<form action="/cats" method="post">
<p>Name: <input type="text" name="name">
<p>Age <input type="text" name="age">
<p>Image_url: <input type="text" name="image_url">
<input type="submit">
</form>